# Resend Email Service
RESEND_API_KEY=your_resend_api_key_here

# Admin Emails (comma-separated)
NEXT_PUBLIC_ADMIN_EMAILS=admin1@example.com,admin2@example.com

# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=your-app-name

# Firebase Admin SDK
FIREBASE_ADMIN_PROJECT_ID=your-firebase-project-id
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
